@tailwind base;
@tailwind components;
@tailwind utilities;


/* Navbar */
.navbar_search-input {
  @apply outline-0 bg-slate-50 rounded-lg font-normal py-2 pr-4 pl-11 text-sm border border-slate-300 text-gray-800 placeholder:text-slate-400;
}

.aside_left-div {
  @apply flex w-full p-2 mb-2 items-center rounded-lg font-semibold text-slate-700;
}

/* Login */
.login-input {
  @apply outline-0 bg-slate-50 rounded-lg font-normal py-3 pr-4 pl-11 text-sm border border-slate-300 text-gray-800 placeholder:text-slate-400 w-full;
}


.scroll-bar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f8fafc;
}

/* Estilos para motores WebKit con redondeo */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background-color: #e2e8f0; /* Color de fondo de la barra */
}

::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* Color de la barra */
  border-radius: 12px; /* Redondeo de la barra */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #64748b; /* Color de la barra al pasar el cursor */
}